.post-meta {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.post-container {
    max-width: 760px;
    margin: 0 auto;
}

.post-container img {
    max-width: 100%;
    margin-bottom: 2.75em;
}

.post-container__title {
    text-align: center;
    margin-bottom: 2.75em;
}

.post-container li {
    margin: 0.75em 0;
}