.newsletter-container {
    max-width: 1200px;
    margin: 80px auto;
    height: 300px;
    background: #FFF;
    display: flex;
    justify-content: space-between;
    -webkit-box-shadow: 10px 10px 56px -9px rgba(51,51,51,0.38);
    -moz-box-shadow: 10px 10px 56px -9px rgba(51,51,51,0.38);
    box-shadow: 10px 10px 56px -9px rgba(51,51,51,0.38);
}

.newsletter__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;
}

.newsletter__title {
    margin: 0 0 1em 0;
}

.newsletter__sub {
    font-size: 0.8em;
}

.form-control {
    border: 2px solid #E7E7E7;
    border-radius: 4px;
    margin: 0;
	outline: 0;
	padding: 10px;
	width: 300px;
}

.form-control:focus {
    border: 2px solid var(--accentColor);
}

.btn {
    border: none;
    width: 300px;
    padding: 10px;
    background: var(--bgColor);
    margin: 10px 0;
    cursor: pointer;
    transition: background 0.5s ease-out;
}

.btn:hover {
    background: var(--accentColor);
}

.newsletter__illustration {
    width: 600px;
    height: 300px;
    background: url(https://source.unsplash.com/user/sarahdorweiler/600x300);
    background-position: center top;
}


/*** MEDIA QUERIES ***/

@media screen and (max-width: 1280px) {
	.newsletter-container {
       max-width: calc(100% - 60px);
	}

}

@media screen and (max-width: 1080px) {
	.newsletter-container {
       max-width: calc(100% - 60px);
       flex-direction: column;
       align-items: center;
       justify-content: center;
       background: url('/icons/cover.svg');
       padding: 1em;
       height: auto;
    }
    .newsletter__title {
        text-align: center;
    }

    .newsletter__info {
        width: 100%;
    }

    .newsletter__illustration {
        display: none;
    }

    .btn {
        background: var(--textColor);
        font-size: 1em;
        color: #FFF;
    }

}



