.header--container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.logo {
    width: 200px;
    height: 40px;
}

.primary-nav__items {
    list-style-type: none;
    display: flex;
}

.item {
    margin-right: 60px; 
    font-size: 0.7em;
    font-weight: 600;
}

.item.no-margin{
    margin: 0;
}

@media screen and (min-width: 1100px) {
    .nav-toggle {
        display: none;
    }
}


@media screen and (max-width: 1200px) {
    .item {
        margin-right: 30px;
    }
}


@media screen and (max-width: 1100px) {
    .header--container {
        flex-direction: column;
    }

    .header__mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-toggle {
        display: block;
        width: 24px;
        height: auto;
        cursor: pointer;
    }

    .nav-toggle:hover > .nav-toggle__bar {
        background: var(--accentColor);
        transition: background 0.5s ease-in-out;
    }

    .nav-toggle__bar {
        width: 24px;
        height: 4px;
        border-radius: 4px;
        background: #333;
        margin-bottom: 5px;
    }

    .nav-toggle__bar.half {
        width: 12px;
        transition: transform 1s ease-in-out;
    }

    .nav-toggle__bar.half_left {
        transform: translateX(100%);
    }

    .primary-nav.hidden {
        animation: leave 1s ease-in-out;
        display: none;
    }

    .primary-nav.visible {
        animation: enter 1s ease-in-out;
    }

    .primary-nav__items {
        flex-direction: column;
        display: flex;
        margin: 40px 0;
        padding: 0;
    }

    .item,
    .item.no-margin {
        margin: 10px 0;
        text-align: center;
    }

    @-webkit-keyframes enter {
        0% { opacity: 0; display: none;}   
      100% { opacity: 1; display: block;}
    }
    @-moz-keyframes leave {
        0% { opacity: 1; display: block;}   
      100% { opacity: 0; display: none;}
    }


}