.footer {
    justify-content: space-between;
    align-content: center;
    padding: 10px 5px 5px;
    display: flex;
    padding: 2em 0;
    color: #9C9C9C;
}

.notice-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

@media (max-width: 640px - 1px) {
    .notice-container {
        justify-content: space-around;
    }
}

.notice-container h4 {
    text-align: center;
    margin: 0;
}


@media (max-width: 700px) {
    .footer {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        padding: 1em;
    }
    .notice-container > span {
        text-align: center;
        font-size: 0.7em;
    }
    div.user-links {
        margin: 20px 0;
    }
    .user-links:first-of-type {
        margin-left: 0;
    }
    .user-links__social {
        width: 40px;
    }
}