@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700|Open+Sans:400,600');

:root {
    --titleFont: 'Merriweather', serif;
    --bodyFont:  'Open Sans', sans-serif;
    --textColor: #333;
	--accentColor: #8ED6FF;
	--bgColor: #EDEDED;
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
	font-size: 20px;
}

body {
	margin: 80px 0 0 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--titleFont);
    margin: 2.75rem 0 1rem;
    font-weight: 400;
    line-height: 1.15;
}

p,
ul,
li {
	font-family: var(--bodyFont);
	line-height: 1.5;
}

p {
	margin: 1em 0;
}

  
  h1 {
    margin-top: 0;
    font-size: 1.802em;
  }
  
  h2 {font-size: 1.602em;}
  
  h3 {font-size: 1.424em;}
  
  h4 {font-size: 1.266em;}
  
  h5 {font-size: 1.125em;}
  
  small, .text_small {font-size: 0.889em;}

a {
    color: var(--textColor);
    text-decoration: none;
}

.index-container {
    display: grid;
    grid-template-columns: 1fr 1200px 1fr;
}

.index-container > * {
    grid-column: 2;
}


/* DOT */

.dot {
	width: 20px;
	height: 20px;
	background: #FF8484;
	border-radius: 50%;
	position: absolute;
	transition: all 0.5s ease-out;
	pointer-events: none;
}

.dot:before,
.dot:after {
	content: '';
	position: absolute;
	border: 2px solid #FF8484;
	width: 30px;
	height: 30px;
	top: -8px;
	left: -9px;
	border-radius: 50%;
	margin-top: 1px;
	margin-left: 2px;
	animation: pulsar 1.5s linear infinite;
}

.dot:before {
	animation-delay: 1s;
	border-color: #5C3B6F;
}

@keyframes pulsar {
	0% {
		transform: scale(0.5);
		opacity: 0;
	}
	50% {
		opacity: 1;
		transform: scale(1.25);
	}
	100% {
		transform: scale(2.5);
		opacity: 0;
	}
}


/*** MEDIA QUERIES ***/

@media screen and (max-width: 1280px) {
	.index-container {
		grid-template-columns: 30px 1fr 30px;
	}

}

@media screen and (max-width: 700px) {
	h1 {
		margin-top: 0;
		font-size: 1.602em;
	  }
	  
	  h2 {font-size: 1.424em;}
	  
	  h3 {font-size: 1.266em;}
	  
	  h4 {font-size: 1.125em;}
	  
	  h5 {font-size: 1em;}
	  
	  small, .text_small {font-size: 0.889em;}
}